body {
    min-height: 100vh;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.footer {
    position: absolute;
    top: 90%;
    right: 0;
    bottom: 3em;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    font-size: 20px;
    margin: 1rem;
}
.input label {
    cursor: pointer;
    margin-right: 10px;
}
